@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.filter-section {
  margin: 1vw 2vw;
}

.header-topic {
  text-align: center;
  color: aliceblue;
  background: orange;
}